/* Cabeçalho "msg + sub-msg" + logo*/

.header {
  display: flex;
  width: auto;
  margin-top: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Container msg + sub-msg*/
.header-child-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.msg {
  font-weight: 700;
  color: #e95b7f;
  font-size: 50px;
  margin: 0;
  flex: 1;
}

.sub-msg {
  font-weight: 300;
  color: #e95b7f;
  font-size: 30px;
  margin: 0;
  flex: 1;
  flex-wrap: nowrap;
}

.logo {
  display: flex;
  margin: 0;
}

/* Container barra de navegação das opções*/
.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 38%;
  margin-top: 30px;
  list-style: none;
}

/* Container cinza */

.dash-container {
  display: flex;
  background-color: var(--white-default);
  width: 85%;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

tr,
table {
  width: 100%;
}

tr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-bar {
  background-color: #d6d6d6;
  padding: 0 0.8rem;
  width: 4.2rem;
  display: table-cell;
  margin-right: auto;
}

.scheduled-times {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media (max-width: 765px) {
  .nav-bar {
    width: 100%;
  }
  /*.logo {
        visibility: hidden;
        margin: 0;
        width: 0;
        height: 0;
    } */

  .dash-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
}
