.input-filho {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__div {
  position: relative;
  height: 25px;
  margin-bottom: 3.5rem;
  margin-right: 0;
}

.form__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 1px solid var(--tertiary-pink);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
  color: #535353;
  font-weight: 400;
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: var(--white-default);
  color: var(--secundary-pink);
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
}

.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--primary-pink);
  font-size: 15px;
  font-weight: 500;
  z-index: 10;
  background-color: var(--white-default);
  border-radius: 2px;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: 15px;
  font-weight: 500;
  z-index: 10;
}

.form__input:focus {
  border: 2px solid var;
}

@media (max-width: 700px) {
  .form__input {
    width: 100% !important;
  }
}
