.especialidade h1 {
    margin-top: 50px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    
}

.container-especialidades {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media (max-width: 700px) {
    .especialidade h1 {
        display: flex;
        padding: 5px;
        text-align: center;
        flex-wrap: wrap;
        font-size: 2rem;
    }
}
