article.appointment {
  border: 1px solid var(--primary-pink);
  border-left: 10px solid var(--primary-pink);
  padding: 0.5rem 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 11rem;
}

article.appointment h4 {
  color: var(--primary-blue);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 700px) {
  article.appointment {
    margin-right: 1.6rem;
  }
}
