/* Container "circulo + texto" */
.nav-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.nav-item:hover{
    opacity: 50%;
}

/* Círculo */
.circle-item {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--tertiary-pink);
    align-items: center;
    justify-content: center;
}

.circle-item:active{
    background-color: var(--tertiary-pink);
}

/* Texto das opções */
.text-item {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    word-spacing: 30px;
}


/* Fundo branco */
.white {
    background: var(--white-default);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


@media (max-width: 600px){

    .nav-item {
        align-items: center;
        margin: 0 auto;
    }

    .circle-item {
        width: 70px;
        height: 70px;
    }
}
