section#returnedAppointments {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  margin-top: 1.6rem;
}

section#returnedAppointments article {
  border: 1px solid var(--primary-pink);
  border-left: 10px solid var(--primary-pink);
  padding: 0.5rem 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

section#returnedAppointments article h4 {
  color: var(--primary-blue);
}

@media (min-width: 700px) {
  section#returnedAppointments {
    justify-content: flex-start;
  }

  section#returnedAppointments article {
    margin-right: 1.6rem;
  }
}
