.align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header- {
    display: grid;
    background-image: url(../../img/background-header.jpeg);
    background-repeat: no-repeat;
    background-color: #DBFFFB;
    background-size: auto auto;
    height: 516px;
}

.bar-social {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}


.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  margin-top: 20px;
}

.nav-bar li {
  display: flex;
  padding: 10px;
  text-decoration: none;
  list-style: none;
  border: 0px;
  margin-left: 40px;
  margin-right: 40px;
}

.nav-bar li:hover {
  border-bottom: 2px solid black;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

@media (max-width: 700px) {
    .nav {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .nav-bar ul {
      margin-top: 10px;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      background-color: black;
      padding-bottom: 10px;
    }

    .nav-bar li {
      margin-top: 5px;
      width: 100%;
      color: white;
      text-align: center;
    }

    .nav-bar li:hover {
      border-bottom: 2px solid rgb(255, 255, 255);
    }
}

