/* logo */
.logo-white {
    text-align: center;
    margin: 0;
    width: 330px;
    height: 76px;
    filter: drop-shadow(0px 4px 4px #000000);
    display: flex;
    flex-direction: column;
    color: white;
}

.logo-white h1 {
    font-weight: 700;
    margin: 0 auto;
    color: white;
}

.logo-white h3 {
    font-weight: 400;
    margin: 0 auto;
    color: white;
}



@media (max-width: 700px){
    .logo {
        margin: 0 auto;
        align-self: center;
    }
}