.scheduled-times-item {
  border-radius: 10px;
  background-color: gray;
  /* TOP, RIGHT, BOTTOM, LEFT */
  padding: 10px 10px 5px 10px;
  color: white;
  width: auto;
  flex: 1;
  margin: 0.5rem 1rem;
}

.scheduled-times-item h1 {
  font-weight: 700;
  font-size: 18px;
}

.scheduled-times-item p {
  font-weight: 300;
  font-size: 15px;
}

.row-sche {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.space {
  width: 50px;
}

.pink {
  background: #e95b7f;
}

.blue {
  background: #15b19e;
}

.yellow {
  background: #e0cc15;
}
