body {
    border: none;
    margin: 0 ;
}

.barra-rosa{
    width: 100%;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    background-color: #E22454;
    box-shadow: none;
    
}

.inicio {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


.navbar {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* logo */
.logo {
    text-align: center;
    margin: 0;
    width: 330px;
    height: 76px;
    filter: drop-shadow(0px 4px 4px #FFFFFF);
}

.logo h1 {
    font-weight: 700;
    margin: 0 auto;
}

.logo h3 {
    font-weight: 400;
    margin: 0 auto;
}

/* buttons */

.btnsSocialMedia {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
}

.btnsSocialMedia img {
    margin: 0 auto;
    align-self: auto;
}

.btnSM {
    border-radius: 30px 30px 30px 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.btnFace {
    background: #2C33DC;
}

.btnInsta {
    background: linear-gradient(180deg, #F110C0 0%, #F1DB10 100%);
}

.btnWhats {
    background: #25D366;
}

/* Botões */
.btn-enviar {
    width: 135px;
    height: 30px;
    background-color: #E22454 ;
    box-shadow: 0px 1px 7px #ED4972;
    border-radius: 58px;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 auto;
}

.login-adm {
    
}

.login-adm h1 {
    color: #E22454;
    font-weight: 300;
    font-size: 40px;
    margin-top: 0;
    text-align: center;
}

.painel-login {
    margin: 0 auto;
    width: 680px;
    height: 425px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.top-painel-login {
    background-color: #E22454;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
    color: #FFFFFF;
    display: flex;
}

.top-painel-login h1 {
    color: #FFFFFF;
    margin: 0 auto;
    font-size: 25px;
    align-self: center;
}

.inputs-login {
    display: flex;
    margin: 0 auto;
    
}

.input-padrao {
    display: flex;
    flex-wrap: wrap;
}

.input-filho {
    flex-direction: row;
}

input {
    border: none;
    background: #DDDDDD;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    justify-content: center;
    margin-bottom: 10px;
}



@media (max-width: 700px){
    .painel-login {
        width: 90%;
    }

    .navbar {
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .logo {
        margin: 0 auto;
        align-self: center;
    }

    .btnsSocialMedia {
        margin: 0 auto;
        align-self: center;
    }

    .login-adm h1 {
        text-align: center;
    }

}
