.footer-black {
    background-color: black;
    padding: 20px 0 20px 0;
    align-items: center;
}

.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

.logo-footer {
    display: flex;
    flex-direction: row;
    padding-top: 10px; 
    align-items: center;
}

.end-tel {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.contat {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.contat p {
    margin-bottom: 10px;
}



.direitos p {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    font-weight: 500;
}

@media (max-width: 700px){
    .footer {
        flex-direction: column;
    }
    .contat p {
        margin-right: 20px;
    }

    .contat {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    .end-tel {
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .end-tel p {
        
        width: 100%;
    }
}
